.md-close-button {
    text-align: right;
    padding-right: 38px;

    .material-icons{
        font-size: 30px;
    }
}

.md-header-title {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    display: block;
}