<app-breadcrumb [title]="'Cadastrar Feira'" [domain]="'Cadastro'" [page]="'Feira'"></app-breadcrumb>

<div class="content">
    <div class="animated fadeIn card">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="card-body card-block">
                    <form [formGroup]="form">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-12 col-sm-9">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Nome" formControlName="name">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Dia da semana" formControlName="weekday">
                                            <mat-option value="segunda">Segunda</mat-option>
                                            <mat-option value="terca">Terça</mat-option>
                                            <mat-option value="quarta">Quarta</mat-option>
                                            <mat-option value="quinta">Quinta</mat-option>
                                            <mat-option value="sexta">Sexta</mat-option>
                                            <mat-option value="sabado">Sábado</mat-option>
                                            <mat-option value="domingo">Domingo</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="CEP" formControlName="zipcode">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Endereço" formControlName="address">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Número" formControlName="numberAddress">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Complemento" formControlName="complement">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Bairro" formControlName="neighborhood">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Cidade" formControlName="city">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Estado" formControlName="state">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <i matPrefix class="fa fa-map-marker">&nbsp;</i>
                                        <input matInput placeholder="Posiçao GPS" formControlName="gps">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 actionBar" style="text-align: right;">
                                    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>