<section class="app-header">
  <div class="app-header-inner" [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-dark': AppConfig.colorOption === '31',
                 'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}">

    <div class="d-lg-none d-xl-none float-left">
      <button mat-button myToggleOffcanvasNav class="md-button header-icon toggle-sidebar-btn">
        <i class="material-icons">menu</i>
      </button>
    </div>


    <div class="brand d-none d-lg-inline-block d-xl-inline-block brand-name">
      <h2>
        <a>{{AppConfig.brand}}</a>
        <a *ngIf="AppConfig.operatorName" [ngClass]="{'brand-name-open-menu': !AppConfig.navCollapsed}">{{AppConfig.navCollapsed ? ' - ' : ''}} {{AppConfig.operatorName}}</a>
      </h2>
    </div>

    <div class="top-nav-left d-inline d-sm-inline d-md-inline d-lg-none d-xl-none list-unstyled float-left">
      <p class="brand-name-mobile">{{AppConfig.operatorName}}</p>
    </div>

    <div class="top-nav-right">
      <ul class="list-unstyled float-right">
        <li>
          <button mat-button class="md-button header-btn" (click)="logout()">Sair</button>
        </li>
      </ul>
    </div>

    <div class="top-nav-right d-none d-lg-inline-block d-xl-inline-block">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">

          <!-- <button mat-button class="md-button header-btn" [matMenuTriggerFor]="appNotification" style="height:60px;">
            <div [class]="currentLang"></div>
          </button> -->

          <!-- <mat-menu class="language-menu" #appNotification="matMenu" x-position="after" y-position="below" overlapTrigger="false">
            <mat-list dense>
              <mat-list-item (click)="changeLanguage('pt-BR')">
                <div class="pt-BR"></div>
                <span>Português</span>
              </mat-list-item>
              <mat-list-item (click)="changeLanguage('en')">
                <div class="en"></div>
                <span>English</span>
              </mat-list-item>
              <mat-list-item (click)="changeLanguage('es')">
                <div class="es"></div>
                <span>Español</span>
              </mat-list-item>
            </mat-list>
          </mat-menu> -->
        </li>
      </ul>
    </div>

  </div>
</section>