<div class="content">
    <!-- Widgets  -->
    <div class="row" *ngIf="dashboard">
        <div class="col-lg-3 col-md-6">
            <div class="card cursor-pointer" [routerLink]="['/registration/college-list']">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib">
                            <i style="font-size: 36px;" class="ti-pulse text-muted"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{dashboard?.totalItems?.colegios}}</span></div>
                                <div class="stat-heading">{{dashboard?.totalItems?.colegios > 1 ? 'Colégios' :
                                    'Colégio'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card cursor-pointer" [routerLink]="['/registration/fair-list']">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i style="font-size: 36px;" class="fa fa-calendar"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{dashboard?.totalItems?.feiras}}</span></div>
                                <div class="stat-heading">{{dashboard?.totalItems?.feiras > 1 ? 'Feiras' : 'Feira'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card cursor-pointer" [routerLink]="['/registration/enterprise-list']">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i style="font-size: 36px;" class="fa fa-briefcase"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{dashboard?.totalItems?.empresas}}</span></div>
                                <div class="stat-heading">{{dashboard?.totalItems?.empresas > 1 ? 'Empresas' :
                                    'Empresa'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card cursor-pointer" [routerLink]="['/registration/people-list']">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{dashboard?.totalItems?.pessoa}}</span></div>
                                <div class="stat-heading">{{dashboard?.totalItems?.pessoa > 1 ? 'Pessoas' : 'Pessoa'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title"><i class="fa fa-users"></i> Pessoas</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6" *ngIf="genderChartData">
                            <div class="weather-box">
                                <h4 class="weather-title box-title">Sexo</h4>
                                <div class="card-body">
                                    <google-chart [data]="genderChartData"></google-chart>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-xs-12 col-md-6" *ngIf="etniaChartData">
                            <div class="weather-box">
                                <h4 class="weather-title box-title">Etnia</h4>
                                <div class="card-body">
                                    <google-chart [data]="etniaChartData"></google-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="clearfix"></div>

    <!--  Traffic  -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Mapa de pessoas </h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <app-map [type]="'all'"></app-map>
                        </div>
                    </div> <!-- /.row -->
                </div>
                <div class="card-body"></div>
            </div>
        </div><!-- /# column -->
    </div>
    <!--  /Traffic -->
    <div class="clearfix"></div>

    
    <!-- /Calender Chart Weather -->
    <!-- Modal - Calendar - Add New Event -->
    <div class="modal fade none-border" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><strong>Add New Event</strong></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                    <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#event-modal -->
</div>