<app-breadcrumb [title]="'Cadastrar Empresa'" [domain]="'Cadastro'" [page]="'Empresa'"></app-breadcrumb>

<div class="content">
    <div class="animated fadeIn card">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="card-body card-block">
                    <form [formGroup]="form">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-12 col-sm-8">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Nome fantasia" formControlName="name">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="CNPJ" formControlName="cnpj">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Segmento" formControlName="segment">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Atividade" formControlName="activity">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="CEP" formControlName="zipcode">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Endereço" formControlName="address">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Número" formControlName="numberAddress">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Complemento" formControlName="complement">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Bairro" formControlName="neighborhood">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Cidade" formControlName="city">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Estado" formControlName="state">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Contato principal" formControlName="mainContact">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <i matPrefix class="fa fa-phone">&nbsp;</i>
                                        <input matInput placeholder="Telefone" formControlName="phone">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <mat-form-field class="full-width">
                                        <i matPrefix class="fa fa-mobile">&nbsp;</i>
                                        <input matInput placeholder="Celular" formControlName="mobile">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="E-mail" formControlName="email">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <mat-form-field class="full-width">
                                        <i style="color:#3954a1;" matPrefix class="fa fa-facebook-official">&nbsp;</i>
                                        <input matInput placeholder="Facebook" formControlName="facebook">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <mat-form-field class="full-width">
                                        <i style="color:#cf2d8e;" matPrefix class="fa fa-instagram">&nbsp;</i>
                                        <input matInput placeholder="Instagram" formControlName="instagram">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <mat-form-field class="full-width">
                                        <i style="color:#1da1f2;" matPrefix class="fa fa-twitter">&nbsp;</i>
                                        <input matInput placeholder="Twitter" formControlName="twitter">
                                        <mat-error>
                                            Campo obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 actionBar" style="text-align: right;">
                                    <button mat-raised-button color="primary">Salvar</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>