<app-breadcrumb [title]="'Cadastrar Pessoa'" [domain]="'Cadastro'" [page]="'Pessoa'"></app-breadcrumb>

<div class="content">
    <div class="animated fadeIn card">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="card-body card-block">
                    <mat-horizontal-stepper labelPosition="bottom" #stepper>
                        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                            <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Dados pessoais</ng-template>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Nome" formControlName="name">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="CPF" formControlName="cpf">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="RG" formControlName="rg">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Data nascimento" formControlName="birthDate">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <mat-select placeholder="Etnia" formControlName="etnia">
                                                    <mat-option *ngFor="let etnia of etnias" [value]="etnia">
                                                        {{etnia}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Nome da mãe" formControlName="motherName">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <mat-select placeholder="Sexo" formControlName="gender">
                                                    <mat-option *ngFor="let gender of genders" [value]="gender">
                                                        {{gender}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <mat-select placeholder="Transgênero" formControlName="transgenero">
                                                    <mat-option *ngFor="let transgenero of transgeneros" [value]="transgenero">
                                                        {{transgenero}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <mat-form-field class="full-width">
                                                <mat-select placeholder="Orientação sexual" formControlName="orientacaoSexual">
                                                    <mat-option *ngFor="let orientacaoSexual of orientacaoSexuals"
                                                        [value]="orientacaoSexual">
                                                        {{orientacaoSexual}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Nome social (tratamento opcional garantido a pessoa trans)"
                                                    formControlName="socialName">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 actionBar" style="text-align: right;">
                                            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                            <form [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>Endereço & contato</ng-template>
                                <div class="form-group col-md-12">
                                    <app-zipcode [parentForm]="secondFormGroup"></app-zipcode>
                                    <div class="row">
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <i matPrefix class="fa fa-phone">&nbsp;</i>
                                                <input matInput placeholder="Telefone" formControlName="phone">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <i matPrefix class="fa fa-mobile">&nbsp;</i>
                                                <input matInput placeholder="Celular" formControlName="mobile">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="E-mail" formControlName="email">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            <mat-form-field class="full-width">
                                                <i style="color:#3954a1;" matPrefix class="fa fa-facebook-official">&nbsp;</i>
                                                <input matInput placeholder="Facebook" formControlName="facebook">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <mat-form-field class="full-width">
                                                <i style="color:#cf2d8e;" matPrefix class="fa fa-instagram">&nbsp;</i>
                                                <input matInput placeholder="Instagram" formControlName="instagram">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <mat-form-field class="full-width">
                                                <i style="color:#1da1f2;" matPrefix class="fa fa-twitter">&nbsp;</i>
                                                <input matInput placeholder="Twitter" formControlName="twitter">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 actionBar" style="text-align: right;">
                                            <button mat-raised-button matStepperPrevious>Voltar</button>
                                            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
                            <form [formGroup]="thirdFormGroup">
                                <ng-template matStepLabel>Profissional & eleitoral</ng-template>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Empresa" formControlName="company">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Data de admissão" formControlName="admissionDate">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Data de demissão" formControlName="terminationDate">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Função exercida" formControlName="positionCompany">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <i matPrefix class="fa fa-map-marker">&nbsp;</i>
                                                <input matInput placeholder="Local de Trabalho" formControlName="workplace">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <mat-select placeholder="Sindcalizado" formControlName="sindcalizado">
                                                    <mat-option value="true">Sim</mat-option>
                                                    <mat-option value="false">Não</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Nº de associação" formControlName="associationNumber">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <mat-select placeholder="Militante" formControlName="militante">
                                                    <mat-option value="true">Sim</mat-option>
                                                    <mat-option value="false">Não</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Indicação diretor" formControlName="indicacaoDiretor">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Título Eleitoral" formControlName="tituloEleitoral">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Zona" formControlName="zona">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Seção" formControlName="secao">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Município" formControlName="municipio">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="UF" formControlName="state">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 actionBar" style="text-align: right;">
                                            <button mat-raised-button matStepperPrevious>Voltar</button>
                                            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
                            <form [formGroup]="fourthFormGroup">
                                <ng-template matStepLabel>Notificações e anotações</ng-template>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <h5>Gostaria de receber notícias?</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <mat-checkbox class="example-ripple-checkbox">Correios </mat-checkbox>
                                            <mat-checkbox class="example-ripple-checkbox">Telefones </mat-checkbox>
                                            <mat-checkbox class="example-ripple-checkbox">SMS </mat-checkbox>
                                            <mat-checkbox class="example-ripple-checkbox">Whatsapp </mat-checkbox>
                                            <mat-checkbox class="example-ripple-checkbox">E-mail </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-3">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="Pontuação" formControlName="score" type="number">
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <mat-form-field class="full-width">
                                                <textarea matInput placeholder="Histórico" formControlName="history"></textarea>
                                                <mat-error>
                                                    Campo obrigatório
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 actionBar" style="text-align: right;">
                                            <button mat-raised-button matStepperPrevious>Voltar</button>
                                            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="fifthFormGroup" [editable]="isEditable">
                            <form [formGroup]="fifthFormGroup">
                                <ng-template matStepLabel>Finalizar</ng-template>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Inserir foto</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-default btn-file">
                                                            Browse… <input type="file" id="imgInp">
                                                        </span>
                                                    </span>
                                                    <input type="text" class="form-control" readonly>
                                                </div>
                                                <img id='img-upload' />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 actionBar" style="text-align: right;">
                                            <button mat-raised-button matStepperPrevious>Voltar</button>
                                            <button mat-raised-button color="primary" (click)="stepper.reset()">Finalizar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                    </mat-horizontal-stepper>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>