<div class="login-title">
    <!-- <h1>Material Design Form</h1> -->
    <h3>Geca</h3>
</div>
<form [formGroup]="form">
    <div class="container-fluid login-body card shadow rounded">
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="full-width" style="width: 100%;">
                    <input matInput formControlName="email" placeholder="E-mail">
                    <mat-error>
                        campo obrigatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="full-width" style="width: 100%;">
                    <input matInput formControlName="password" placeholder="Senha" type="password" maxlength="10">
                    <mat-error>
                        campo obrigatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 link">
                <a href="#">Esqueceu a senha?</a>
            </div>
        </div>
    </div>
</form>
<footer>
    <a href="#" target="_blank">
        <img src="assets/images/logo.png">
    </a>
    <p>Geca - 2018</p>
</footer>