<div [formGroup]="parentForm" novalidate>
    <div class="row">
        <div class="col-12 col-sm-3">
            <mat-form-field class="full-width">
                <i matPrefix class="fa fa-spinner fa-spin" *ngIf="zipcodeLoading">&nbsp;</i>
                <input matInput placeholder="CEP" #zipcodeRef formControlName="zipcode" required>
                <mat-error>
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="Endereço" formControlName="address">
                <mat-error>
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="Número" #numberAddressRef formControlName="numberAddress">
                <mat-error>
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="Complemento" formControlName="complement">
                <mat-error>
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="Bairro" formControlName="neighborhood">
                <mat-error>
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="Cidade" formControlName="city">
                <mat-error>
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="Estado" formControlName="state">
                <mat-error>
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-3">
            <mat-form-field class="full-width">
                <i matPrefix class="fa fa-map-marker">&nbsp;</i>
                <input matInput placeholder="Posiçao GPS" formControlName="gps">
                <mat-error>
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>