.login-title {
    text-align:center;
    margin-top: 4em;
    
    h1, h3 { font-weight: 300; }
    h1 { color: #636363; }
    h3 { color: #4a89dc; }
}

.login-body {
	width: 380px;
	margin: 2em auto;
	padding: 2em 2em 2em 2em;
}
  
  .login-body mat-form-field, .login-body button {
    width: 100%;
  }

  .login-body .link {
    text-align: center;
    margin-top: 5px;
  }

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }

.full-width {
	width: 100%;
}

div.mat-radio-label-content {
    padding-right: 5px;
}

.actionBar {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 16px 5px;
    text-align: right;
    margin-top: 4%;
}

mat-checkbox {
  margin: 6px 12px 6px 0;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload{
  width: 100%;
}

.input-zona {
  margin-top: 18px;
}

@media only screen and (max-width: 767px) {
  .input-zona {
    margin-top: 0;
  }
}

div.dropdown-menu.show {
  display: block;
  position: initial!important;
}

li.action-sub-menu {
  i {
    color: #03a9f3!important;
  }
  a {
    color: #03a9f3!important;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 100%; //min-width: 300px;
  width: 100%;
}

button.btn-new {
  margin-bottom: 1%;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
  .mat-form-field {
      font-size: 14px;
      width: 25%;
  }
}

.mat-cell{
  text-transform: capitalize;
}

.mat-icon {
  cursor: pointer;
}

.mat-cell.mat-column-edit,
.mat-cell.mat-column-custom,
.mat-header-cell.mat-column-edit,
.mat-cell.mat-column-active,
.mat-header-cell.mat-column-active {
    flex: 0 0 75px;
}

agm-map {
  height: 300px;
}

div.fc-day-grid-container {
  height: 300px!important;
}

.cursor-pointer {
  cursor: pointer;
}

agm-map {
  height: 450px;
}

mark, .mark {
  padding: 0.2em;
  background-color: #FFFF00;
}