.login-title {
    text-align:center;
    margin-top: 4em;
    
    h1, h3 { font-weight: 300; }
    h1 { color: #636363; }
    h3 { color: #4a89dc; }
}

.login-body {
	width: 380px;
	margin: 2em auto;
	padding: 2em 2em 2em 2em;
}
  
  .login-body mat-form-field, .login-body button {
    width: 100%;
  }

  .login-body .link {
    text-align: center;
    margin-top: 5px;
  }

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }

.full-width {
	width: 100%;
}